.list{
    height: auto;
    width: auto;
    margin: 40px;
}

.subtitle{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.list{
    text-align: justify;
}

table {
    width: 100%;
    justify-content: center;
  }
