<div class="monster-container">
    <p class="subtitle">¡Descubrí los mounstruos!</p>
    <br>
    <div class="buttonContainer">
        <button (click)="verMounstros()">Demogorgon</button>
        <button (click)="verMounstros()">Mind Flyers</button>
        <button (click)="verMounstros()">Vecna</button>
    </div>
    <br>
    <div *ngIf="this.siverMounstros" class="img">
        <!-- <img id="img1" src="../../../assets/images/Demogorgon.jpeg">
        <img id="img1" src="../../../assets/images/Mind Flyers.jpeg"> -->
        <img id="img1" src="../../../assets/images/monsters.jpg">
        <!-- <img id="img1" src="../../../assets/images/Vecna.jpeg"> -->
    </div>

    <button (click)="ocultarMounstros()" *ngIf="this.siverMounstros && this.siocultarMounstros">Ocultar</button>
</div>