<div class="monster-container">
    <p class="subtitle">¡Descubrí los mounstruos!</p>
    <br>
    <div class="buttonContainer">
        <button mat-raised-button color="warn" (click)="mostrarDemogorgon()">Demogorgon</button>
        <button mat-raised-button color="warn" (click)="mostrarMindFlyers()">Mind Flyers</button>
        <button mat-raised-button color="warn" (click)="mostrarVecna()">Vecna</button>
    </div>
    <br>

    <div id="Mounstruos">
        <img *ngIf="this.demogorgon" id="demogorgon" src="../../../assets/images/Demogorgon.jpeg">
        <img  *ngIf="this.mindFlyers" id="mindFlyers" src="../../../assets/images/Mind Flyers.jpeg">
        <img  *ngIf="this.vecna" id="vecna" src="../../../assets/images/Vecna.jpeg"> 
    </div>

    <div class="borrar">
      <button mat-button color="primary" *ngIf="this.botonOcultar" (click)="ocultarMounstros()">Ocultar</button>
    </div>
</div>