.monster-container{
    height: auto;
    margin: 40px;
}
.subtitle{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-inline: 50px;
}

.img{
    max-width: 350px;
    max-height: 350px;
}